.App{
 background: rgb(255,255,255);
}
.home , .about, .housings{
 background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(67,111,148,1) 49%, rgba(205,205,205,1) 100%) !important;
 padding: 1rem;
}
.navbar{
 background-color: #3a3089;
 color: #fff !important;
}
.nav-link{
 color: #fff !important;
}
.nav-link.active{
 font-weight: 700;
 color: crimson !important;
}
.home-slider, .home-review, .home-service, .about-inner{
 border: 2px solid crimson;
 margin-top: 2rem;
 margin-bottom: 2rem;
}
footer section{
 background-color: #3a3089;
 color: #fff !important;
}
footer .copyright {
 background-color: #13102e;
}
.form-page{
 text-align: center;
}
.form-card{
 background-color:  rgb(213, 213, 255) !important;
 width:30rem;
}
.form-card2{
 background-color:  rgb(213, 213, 255) !important;
}
.input-field{
 border: 2px solid #3a3089;
 padding: 0.5rem;
 color:#13102e;
 background-color: #fff;
 border-radius: 20px 20px;
}
.PhoneInputInput{
 border: none;
}
.housings-inner{
 min-height: 60vh;
}